
{% extends "base.html" %}
<!-- En base.html existen bloques, como por ejemplo 'title' -->
{% block title %}
Inicio
{% endblock %}



{% block html %}
<style type="text/css">
.itemcenira { min-height: 290px;}
    .itemcenira  img { max-height: 200px !important;}
    .bookcover {text-align: center;}
</style>

    <div class="container">

        <div class="jumbotron hero-spacer">
            <h1>¡Bienvenido!</h1>
            <p>¡Acá podrás encontrar los libros disponibles en Cenira!</p>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <h3>Últimos Libros:</h3>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
        {% for libro in libros[0] %}
            <div class="col-md-2 portfolio-item itemcenira">
                <div class="bookcover">
                    <a href="/cenira/libro/{{libro.key.id()}}"><img class="img-rounded" src="{{libro.link_to_photo}}"></a>
                </div>
                <h5><a href="/cenira/libro/{{libro.key.id()}}">{{libro.title}}</a></h5>
            </div>
        {% endfor %}
        </div>
        <!-- /.row -->

        <hr>



    {% endblock %}
