
{% extends "base.html" %}
<!-- En base.html existen bloques, como por ejemplo 'title' -->
{% block title %}
Equipo
{% endblock %}


    {% block head %}<meta name="robots" content="noindex">{% endblock %}
{% block html %}

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Nuestro Equipo</h2>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Equipo de desarrollo</h4>
            </div>
            <div class="col-md-2">
                <img class="img-circle img-responsive" src="http://placehold.it/200x200">
                <h4>Cesar Solorzano <small>Coordinador de Celula</small> </h4>
                
            </div>
            <div class="col-md-2">
                <img class="img-circle img-responsive" src="http://placehold.it/200x200">
                <h4>Stivali Serna </h4>
                
            </div>
            <div class="col-md-2">
                <img class="img-circle img-responsive" src="http://placehold.it/200x200">
                <h4>Francis Rodriguez</h4>
                
            </div>
            <div class="col-md-2">
                <img class="img-circle img-responsive" src="http://placehold.it/200x200">
                <h4>George Hoyt</h4>
                
            </div>
            <div class="col-md-2">
                <img class="img-circle img-responsive" src="http://placehold.it/200x200">
                <h4>Estefania Barreto</h4>
            </div>
            <div class="col-md-2">
                <img class="img-circle img-responsive" src="http://placehold.it/200x200">
                <h4>Mario Vazquez</h4>
            </div>
            </div>
            <br>
            <br>
            <hr>
        <div class="row">
            <h4 class="page-header">Otros</h4>
            <div class="col-md-2">
                <h4>Luisany Ortíz</h4>

            </div>
            <div class="col-md-2">
                <h4>Luis Perez</h4>

            </div>
            <div class="col-md-2">
                <h4>Sabrina Nelo</h4>
            </div>
            <div class="col-md-2">
                <h4>Sorielys Pirela</h4>
            </div>
            <div class="col-md-2">
                <h4>Carlos Wilthew</h4>
            </div>
            <div class="col-md-2">
                <h4>Carlos Rios</h4>
            </div>
            <div class="col-md-2">
                <h4>Carlos Martinez</h4>
            </div>
        </div>

    </div>
    <hr>
    <!-- /container -->
{% endblock %}