{% extends "base.html" %}
{% block title %}
Ultimos libros
{% endblock %}



{% block html %}
<style type="text/css">
.itemcenira { min-height: 300px;}
    .itemcenira  img { max-height: 200px !important;}
    .bookcover {text-align: center;}
</style>

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Biblioteca
                    <small>Ultimos libros</small>
                </h1>
            </div>

        </div>

        <div class="row">
        {% for libro in libros[0] %}
            <div class="col-md-2 portfolio-item itemcenira">
                <div class="bookcover">
                    <img class="img-rounded" src="{{libro.link_to_photo}}">
                </div>
                <h5><a href="/cenira/libro/{{libro.key.id()}}">{{libro.title}}</a></h5>
                <h6>{% for author in libro.author %}{{ author.get().name}}{% endfor %} | <small>{{libro.publisher.get().name}}</small></h6>
            </div>
        {% endfor %}
           </div>

        <hr>

        
        </div>

    </div>
    <!-- /.container -->

{% endblock %}